@tailwind base;

@tailwind components;

@tailwind utilities;

.hero__content {
	left: 44%;
}
.slider-dots {
	right: -6rem;
	top: 50%;
	transform: translateY(-50%);
}
.slider-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #ff895a;
	border-radius: 50%;
	outline: none;
}
